body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

#game-container {
    display: flex;
    width: 90%; /* 사이드바의 10%를 차감 */
    height: 100vh;
}

#sidebar {
    width: 10%;  
    height: 100vh; 
    background-color: aqua;
    flex-shrink: 0; /* 사이드바가 줄어들지 않도록 설정 */
}

#sidebar img {
    width: 80%;  
    margin: 10%;  
}

#phaser-game {
    width: 100%; 
    height: 100%;  
}
